S06_T01_Statistics 

Nivell 1
- Exercici 1

Agafa un conjunt de dades de tema esportiu que t'agradi i selecciona un atribut del conjunt de dades. Calcula la moda, la mediana, la desviació estàndard i la mitjana aritmètica. 

- Exercici 2
Continuant amb les dades de tema esportiu, selecciona dos atributs i calcula'n la seva correlació.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns   
import sklearn
import statistics

In [2]:
#Dades sobre fets, denúncies i trencaments de condemna per violència domèstica (Mossos d'Esquadra Open Data)
#https://mossos.gencat.cat/ca/els_mossos_desquadra/indicadors_i_qualitat/dades_obertes/cataleg_dades_obertes/

crime = pd.read_csv("/Users/fiorelliris/Documents/Coding/PYTHON/Sprint6/FetsMossos.csv")
crime.head(20)

,Any,Trimestre,Edat,Tipologia,Àmbit,Fet principal sense trencament de condemna,Trencament de condemna,Denúncies
0,2011,1r,>65,Violència domèstica,Persones grans,196,15,138
1,2011,2n,>65,Violència domèstica,Persones grans,286,28,188
2,2011,3r,>65,Violència domèstica,Persones grans,308,27,209
3,2011,4t,>65,Violència domèstica,Persones grans,245,27,181
4,2011,1r,<18,Violència domèstica,Menors,162,6,130
5,2011,2n,<18,Violència domèstica,Menors,247,6,186
6,2011,3r,<18,Violència domèstica,Menors,198,4,123
7,2011,4t,<18,Violència domèstica,Menors,257,4,145
8,2012,1r,>65,Violència domèstica,Persones grans,190,27,138
9,2012,2n,>65,Violència domèstica,Persones grans,313,34,177
10,2012,3r,>65,Violència domèstica,Persones grans,295,31,200
11,2012,4t,>65,Violència domèstica,Persones grans,304,30,192
12,2012,1r,<18,Violència domèstica,Menors,244,8,170
13,2012,2n,<18,Violència domèstica,Menors,318,18,225
14,2012,3r,<18,Violència domèstica,Menors,345,9,223
15,2012,4t,<18,Violència domèstica,Menors,349,11,221
16,2013,1r,>65,Violència domèstica,Persones grans,247,24,132
17,2013,2n,>65,Violència domèstica,Persones grans,256,25,273
18,2013,3r,>65,Violència domèstica,Persones grans,331,40,191
19,2013,4t,>65,Violència domèstica,Persones grans,266,26,155

In [3]:
# Numercal Variables Description

crime.describe().round()

,Any,Fet principal sense trencament de condemna,Trencament de condemna,Denúncies
count,88.0,88.0,88.0,88.0
mean,2016.0,321.0,26.0,292.0
std,3.0,76.0,14.0,91.0
min,2011.0,162.0,3.0,123.0
25%,2013.0,257.0,16.0,223.0
50%,2016.0,311.0,27.0,280.0
75%,2019.0,381.0,34.0,367.0
max,2021.0,494.0,62.0,481.0

In [4]:
crime["Any"].unique()

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [5]:
crime["Àmbit"].unique()

array(['Persones grans', 'Menors'], dtype=object)

In [6]:
crime_denu = crime.groupby("Any")["Denúncies"].sum()
crime_denu = crime_denu.sort_values(ascending=False)
crime_denu.head(5)

Any
2021    2903
2015    2721
2018    2678
2017    2655
2016    2654
Name: Denúncies, dtype: int64

In [7]:
crime_denu_ambit = crime[["Any", "Àmbit","Denúncies"]].copy()
crime_denu_ambit.head(10)

    Any           Àmbit  Denúncies
0  2011  Persones grans        138
1  2011  Persones grans        188
2  2011  Persones grans        209
3  2011  Persones grans        181
4  2011          Menors        130
5  2011          Menors        186
6  2011          Menors        123
7  2011          Menors        145
8  2012  Persones grans        138
9  2012  Persones grans        177

In [8]:
crime_denu_ambit.groupby(["Àmbit"]).mean().round(1)

                   Any  Denúncies
Àmbit
Menors          2016.0      338.3
Persones grans  2016.0      246.0

In [9]:
crime_denu_ambit_menors= crime_denu_ambit[crime_denu_ambit["Àmbit"] == "Menors"]
crime_denu_ambit_menors.head(5)

     Any   Àmbit  Denúncies
4   2011  Menors        130
5   2011  Menors        186
6   2011  Menors        123
7   2011  Menors        145
12  2012  Menors        170

In [10]:
crime_denu_ambit_menors= crime_denu_ambit_menors.groupby(["Any", "Àmbit"]).sum(["Denúncies"])
crime_denu_ambit_menors.head(10)

             Denúncies
Any  Àmbit
2011 Menors        584
2012 Menors        839
2013 Menors        916
2014 Menors       1423
2015 Menors       1640
2016 Menors       1596
2017 Menors       1582
2018 Menors       1640
2019 Menors       1495
2020 Menors       1444

In [11]:
list(crime_denu_ambit_menors.columns)

['Denúncies']

In [12]:
crime_denu_ambit_menors.describe().round()

       Denúncies
count       11.0
mean      1353.0
std        387.0
min        584.0
25%       1170.0
50%       1495.0
75%       1618.0
max       1725.0

In [13]:
#Mode:value that appears most frequently in a data set.
print(crime_denu_ambit_menors.mode())

   Denúncies
0       1640

In [14]:
#Median: If the data are ordered from smallest to largest, the median is the observation right in the middle.
print(crime_denu_ambit_menors.median())

Denúncies    1495.0
dtype: float64

In [15]:
#Standard Deviation is a measure of the amount of variation or dispersion of a set of values
#standard deviation is based on the distance from the mean.
#and it has the same units of measure as the original data. If you're talking about inches, the standard deviation will be in inches.
print(crime_denu_ambit_menors.std())

Denúncies    386.585425
dtype: float64

In [18]:
#Compute pairwise correlation of columns, excluding NA/null values. 
#statistical measure of the strength of the relationship between the relative movements of two variables.
#The values range between -1.0 and 1.0. A calculated number greater than 1.0 or less than -1.0 means that there was an error in the correlation measurement.
#Method of correlation: pearson : standard correlation coefficient

crime.corr(method='pearson', min_periods=1)

,Any,Fet principal sense trencament de condemna,Trencament de condemna,Denúncies
Any,1.000000,0.303319,0.447311,0.600301
Fet principal sense trencament de condemna,0.303319,1.000000,-0.225333,0.875647
Trencament de condemna,0.447311,-0.225333,1.000000,0.037544
Denúncies,0.600301,0.875647,0.037544,1.000000